<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- // <script src="/javascripts/Faye 1.0.1/browser/faye-browser-min.js"></script> -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:800,700,400&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<script src="/libs/angular/angular.min.js"></script>
	<script>
	app = angular.module('app', [])
	.controller('GameCtrl', ['$scope', '$http', function ($scope, $http) {
		var uuidString = function() {
		    return Math.random().toString(36).substring(7)
		}
		$scope.name = '';
		$scope.createGame = function(game_name, playersPerTeam) {
			var url = '/game';
			var data = {
				id : uuidString(),
				game_name : game_name,
				playersPerTeam : playersPerTeam 
			} 
			$http.post(url, data)
				.success(function(data) {
					console.log(data);
					
				})
				.error(function(data) {
					console.log(data)
				})
		}
	}])
	</script>

	<script src="/javascripts/socket.io-client/socket.io.js"></script>
</head>
<body ng-app="app" ng-controller="GameCtrl">
	<div class="pregame centered">	
		<p class="name_label">Enter your name sir</p>
		<input class="bb" type="text" ng-model="name">
		<div class="row" style="margin:0">
			<div class=" col-sm-6 col-md-6 col-lg-6 name_label">Games</div>
			<div class=" col-sm-6 col-md-6 col-lg-6 name_label">Create</div>
		</div>
		<div class="game-create">
			<input type="text" ng-model="game_name">
			<input type="number" ng-model="players">
			<button ng-click="createGame(game_name, players)">Создать</button>

		</div>
	</div>
	<!-- <canvas class="centered" id="canvas" width="800px" height="500px"></canvas> -->
	<style>
		* {
			font-family: "Open Sans";
		}
		body {
			padding: 0;
			margin: 0;
			background-color: #3498db;
		}
		canvas {
			background-color: white;
		}
		.pregame {
			width: 400px;
			height: 500px;
			background-color: rgba(0,0,0,.1);
			box-shadow: 0 5px 10px rgba(0,0,0,.5);
		}
		.half {
			float: left;
			width: 50%;
			height: 100%;
		}
		.pregame .name_label {
			font-size: 20px;
			margin: 0;
			padding: 0;
			height: 30px;
			line-height: 30px;
			font-weight: 800;
			background-color: white;
			/*padding: 10px 0 10px 0;*/
			color: rgba(192, 57, 43,1.0);
			text-shadow: 0 2px 3px rgba(0,0,0,.2);
			text-align: center;
		}
		.pregame input {
			width: 100%;
			height: 60px;
			font-size: 30px;
			font-weight: 800;
			color: #f39c12;
			padding: 10px 0;
			line-height: 40px;
			text-align: center;
			background-color: rgba(0,0,0,.2);
			outline: none;
			border: none;
		}

		.centered {
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			position: absolute;
		}
		.bb {
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
		}
	</style>
	<!-- // <script src="/javascripts/main.js"></script> -->
</body>
</html>